<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./main.css">
    <title>옷 어디서 사지</title>
    
</head>
<body>
    <div class = "content wrapper">
        <div class="navbar">
            <strong>옷 어디서 사지 <img src = "C:\Users\gkgus\newbies\basket.jpg" id = "basket"/></strong>
        </div>
        
        
        <div class = "shopping">
                <div class = "degree">
                    98도씨

                </div>
                <div class = "lala">
                    라라봉
                </div>
                
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script type="text/javascript" src="./control.js"></script>
</body>
</html>