
.loginsection {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  
}
.form input {
  background: #f2f2f2;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box
  font-size: 14px;
}


.form button {
  text-transform: uppercase;
  background:  blanchedalmond;
  width: 100%;
  padding: 15px;
  color: black;
  font-size: 14px;
  cursor: pointer;
  margin-left : 20px;
}
.form button:hover,.form button:active,.form button:focus {
  background:black;
}
.form .message {
  margin: 15px 0 0;
  color : white;
  font-size: 12px;
}

.container {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  display: block;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;\
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: rgb(233, 189, 189); /* fallback for old browsers */
  
}